@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-primary: #3591ff;
  --color-secondary: #ff4473;

  --screen-mobile: 768px;
}

* {
  transition: color 0.4s;
  transition: background-color 0.3s;

  box-sizing: inherit;
}

body {
  background-color: var(--color-background);
  color: var(--color-paragraph);
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

li {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--color-primary);
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 500;
}

h2 {
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

h4 {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

p {
  line-height: 24px;
  font-weight: 400;
}
