:root {
  --color-white: #fafeff;
  --color-dark-background: #0d1b2c;
  --color-primary: #3591ff;
}

body {
  margin: 0 auto;
  background-color: var(--color-dark-background);
  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  font-size: 16px;
}

li {
  display: flex;
  align-items: center;
}
